body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.box {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.nav {
  background: fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 60px;
  z-index: 100;
}

.logo {
  font-size: 25px;
  font-weight: 900;
}

.right-links a {
  padding: 0 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.main-box .top {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
