body {
  background-image: url(img/online-marketing-hIgeoQjS_iE-unsplash.jpg);
  background-position: center;

  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(5px);
  font-family: "Roboto", sans-serif;
}

.login-heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  text-shadow: 2px 2px 2px hsla(0, 0%, 100%, 0.792);
}

.login-boxes {
  display: flex;
  margin-top: 120px;
  justify-content: space-evenly;
  padding: 0 30px;
}

.login-box {
  height: 160px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login1 {
  background-image: url(img/sasun-bughdaryan-RlIppR1I3E8-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#login2 {
  background-image: url(img/walter-otto-PT70CT6mATQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#login3 {
  background-image: url(img/matheus-ferrero-yfmjALh1S6s-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.patient {
  height: 130px;
  width: 250px;
  margin-top: 50%;
  background-color: white;
  border-radius: 10px;
}
.patient h1 {
  text-align: center;
}
.patient a {
  text-decoration: none;
}

.patient button {
  margin: auto;
  text-align: center;
  display: flex;
  background-color: black;
  border: none;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}
